<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" style="height: auto; min-height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/3.1.0/dist/css/adminlte.min.css}">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <div class="main-header">
        <nav class="navbar navbar-static-top">

        </nav>
    </div>
    <div class="sidebar-wrapper"></div>
    <div class="content-wrapper"></div>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/AdminLTE/3.1.0/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/AdminLTE/3.1.0/dist/js/adminlte.min.js}"></script>
</body>
</html>